@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
 font-family: Roboto;
 font-size: var(--text-size);
 background-color: var(--background-color);
 color: var(--text-color);
}

a {
  user-select: none;
}

a:visited, a:active {
  color: var(--visited-link-color);
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#sketch {
  height: 95vh;
  width: 95vh;

  touch-action: none;
}

.footer {
  position: absolute;
  width: 100vh;
  left: calc(99vw - 2rem);

  font-size: 2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  transform-origin: top left;
  transform: rotate(-90deg);
}

@media only screen and (max-width: 600px) {
  body {
    font-size: var(--mobile-text-size);
  }

  #sketch {
    height: 95vw;
    width: 95vw;
  }

  .footer {
    transform: none;
    width: 100vw;
    bottom: 2vh;
    left: initial;
    font-size: 1rem;
  }
}
